<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset = "utf-8">
    <title>Dashboard- Reviewing Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
</head>
<body>
    <div class = "container-dashboard">
        <header>
            <img src = "{{ url_for('static', filename='logo.png')}}" alt="Logo" class = "logo">
            <h1 class="site-title">Reviewing Project</h1>
        </header>
        <div class ="dashboard-box">
            <h2>Welcome To Your Dashboard</h2>
            <p>Hello <strong>{{ user.name }}</strong> (Grade: {{ user.grade }})</p>

            <form method ="POST" action = "{{ url_for('dashboard') }}">
                <table>
                    <thead>
                        <tr>
                            <th>Choose</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Subject</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}
                        <tr>
                            <td><input type="radio" name ="task_id" value= "{{ task[0] }}"></td>
                            <td> {{ task[1] }}</td>
                            <td> {{ task[2] }}</td>
                            <td> {{ task[3] }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit">Select taks</button>
            </form>
            
            <form action ="{{ url_for('logout')}}" method ="GET">
                <button type="submit">Logout</button>
            </form>
        </div>

    </div>  
</body> 
</html>